<!DOCTYPE html>
<html>
  <head>
    <title>Safer City</title>
    <link rel="icon" href=<%= image_path('logo.png') %>>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src=<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV["google_maps_key"]}&libraries=places&callback=Mapper.initializeAutocomplete" %> async defer></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
